.Hero {
  background-color: color('gray');
  .Container {
    flex-direction: column;
    @media (query(lg-up)) {
      flex-direction: row;
    }
  }
  &__inner {
    margin-bottom: 3rem;
    @media (query(lg-up)) {
      margin-bottom: 0;
      width: 50%;
    }
    &--info {
      order: 2;
      @media(query(lg-up)) {
        order: 1;
      }
    }
    &--cta {
      order: 3;
      @media(query(lg-up)) {
        order: 3;
      }
    }
    &--splash {
      order: 0;
      @media (query(lg-up)) {
        order: 2;
      }
    }
    &--splash-bullets {
      order: 1;
    }
    &--info,
    &--cta {
      @media (query(lg-up)) {
        position: sticky;
        width: 25%;
        height: 100%;
        height: 100vh;
        top: 0;
      }
    }
  }
  &__splash {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &.animate {
      img {
        visibility: hidden;
      }
    }
    &.active {
      cursor: -moz-zoom-out;
      cursor: -webkit-zoom-out;
      cursor: zoom-out;
      position: fixed;
      width: 100%;
      height: 105%;
      left: 0;
      top: 0;
      overflow: scroll;
      z-index: zIndex('high');
      background-color: color('gray');
      margin-top: 0;
      margin-bottom: 0;
      .Hero__splash-image {
        height: auto;
        width: 100%;
        max-width: 64rem;
        max-height: none;
        display: block;
      }
    }
    &-image {
      display: none;
      max-height: 100vh;
      width: auto;
      margin: 0 auto;
      &:first-child {
        display: block;
      }
      @media (query(lg-up)) {
        display: block;
        height: 100vh;
        object-fit: cover;
      }
    }
    &-close {
      position: fixed;
      top: 1rem;
      right: 1rem;
      font-size: 200%;
      z-index: zIndex('high');
    }
    &-bullets {
      margin-bottom: 3rem;
      @media (query(lg-up)) {
        display: none;
      }
    }
    &-bullet {
      width: 0.3125rem;
      height: 0.3125rem;
      border-radius: 50%;
      background-color: color('gray-dark');
      margin: 0 0.296875rem;
      &.active {
        background-color: color('black');
      }
    }
  }
}
