.Hero {
  background-color: color('gray');
  &__inner {
    width: 50%;
    &--info,
    &--cta {
      width: 25%;
      height: 100%;
      height: 100vh;
      position: sticky;
      top: 0;
    }
  }
  &__splash-image {
    height: 100vh;
    width: auto;
    margin: 0 auto;
    object-fit: cover;
  }
}
