.Product {
  height: 100vh;
  &__description {
    max-width: 16.5rem;
  }
  &__options {
    > li {
      border: 1px solid color('black');
      box-sizing: border-box;
      &:first-child {
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
    }
  }
  &__color {
    width: 33%;
  }
  &__color-button {
    width: 100%;
    height: 100%;
    &--black {
      background-color: color('black');
      color: color('white');
    }
    &--beige {
      background-color: color('beige');
    }
    &.active {
      &:after {
        content: ' ✓';
      }
    }
  }
}
